# Assignment1

##### Question 1

###### 1. What are the differences between operators and values in the following?
*

'hello'

-87.8

-

/

+

6

###### Answer: 
    
        Operators are the used to perform the airthmatic and logistic operations on the variables and once we perform operations
        on the variables we get output that is also known as value. Varibles also stores object inside that object is known as values

###### Examples

In [2]:
        # * (Astrick): It's an airthmatic operator used for Multiplication
        
        print( 5*4)
        
        #"hello": its an string value which is displyed while printing the output
         
        print("hello")
        
        #-87.8 : its an negative floating point value.
        
        print(type(-87.8))
        
        #- : Its an airthmatic operator used to subtract the two numbers.
        
        print(5-4)
        
        # /: Its an airthmatic operator used to divide the two numbers and output will be integer value
        
        print(5/4)
        
        # +: Its an airthametic operator used to add the two numbers.
        
        print(5+4)
        
        # 6: its an integer value, a number
         
        print(type(6))

20
hello
<class 'float'>
1
1.25
9
<class 'int'>

##### 2. What is the difference between string and variable?

spam

'spam'

In [5]:
#String: 'spam': String is an datatype of python which supports the slicing and indexing.its an series of characters
# enclosed in single or double quotes

str='Spam'
print(str)
print(type(str))
print(str[0:2])

#Spam: Variables are the placeholders used to hold the value for different operations in the program.

spam=10
print(type(spam))
print(spam*3)

Spam
<class 'str'>
Sp
<class 'int'>
30

#### 3. Describe three different data forms.

In [41]:
# Numberic Data type: Integers, Float, Complex.
# Text Data Type: String
# Boolean Data Type: bool
# Sequencial Data type: List, tuple, set, dict

#1. Intergers:  Integers Numbers are generally used when we are doing some math operations on it. The numbers are without 
#decimal points or precision points. its whole number.

print(type(6))
print(6**2)

#2. Float :Numbers are generally used when we are doing some math operations on it. The numbers are with 
#decimal points or precision points

print(type(87.6))
print(3.5*6.2)


#3. List: list are created with square brackets and hold different data types all together.
#Duplicate values are allowed, order is retained and slicing and indexing is possible.

list1 = [1,2,3,4.5,5.5,"maths","python",True,False]
list1
print(list1)
print(type(list1))

<class 'int'>
36
<class 'float'>
21.7
[1, 2, 3, 4.5, 5.5, 'maths', 'python', True, False]
<class 'list'>

#### 4.What makes up an expression? What are the functions of all expressions?

In [9]:
# A sequence of operands and operators, like (x+y)-3  is called an expression.
#Function of all expression is to perform operations on the variables given in the program, and display the result.

x,y=2,3
print((x+y)-3)

2

#### 5.In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

In [10]:
#Declaration is the state where we create the placeholder in form of variable and assign value to it.

spam=10 

#Expression is an sequence in which we perform operation on the given variables using different operators.

print(spam*3)

30

#### 6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [11]:
#Output will be 23 in Jupyter notebook
bacon=22
bacon+1

23

#### 7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [19]:
#Both lines will give the same output that is 'spamspamspam'
#In the first line concatenation operator is used as both are string variable so + will work as concatenation operator.

a='spam'+'spamspam'

#In second line 'spam' keyword will be multipled by 3 time by above command and output will be spam three times

b='spam'*3

print(a)
print(b)

spamspamspam
spamspamspam

#### 8. Why is it that eggs is a true variable name but 100 is not?

#####  Ans: There are some rules while defining the variable. You cant start the variable name with number That is the reason eggs is the true variable but 100 is not

In [21]:
eggs=100
100=10

SyntaxError: can't assign to literal (<ipython-input-21-1cf82ebabfdc>, line 2)

#### 9.Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

In [39]:
#Typecasting is the method which used to conver the datatype of variable.
a=10

#To convert the number to integer we use int()function

print(int(a))

#To convert the number into floating point we use float() function

print(float(a))

#To Convert the number into string we use str()function

print(a.__str__())
print(type(a.__str__()))

10
10.0
10
<class 'str'>

#### 10. What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

In [38]:
#The error will be typecasting error as 99 is an integer value. Python will not allow to concate the string value with integer
#without conversion

'I have eaten '+ '99'+' burritos'

'I have eaten 99 burritos'